# ===========================================
# GATEWAY-SERVICE - Variables de Entorno
# ===========================================
# Copia este archivo como .env y configura tus valores

# Puerto del Gateway
PORT=3000

# RabbitMQ (CloudAMQP/LavinMQ) - Para comunicarse con books-service
RABBITMQ_URL=amqps://iwpigfdl:80sdLEKgvnHjNCNsEZDxSHEGwf3h4b99@kebnekaise.lmq.cloudamqp.com/iwpigfdl

# URL de loans-service (comunicación HTTP interna)
LOANS_SERVICE_URL=http://localhost:3002

